<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/drone</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">4688</property>
  <property name="hibernate.connection.pool_size">30</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.current_session_context_class">thread</property>
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
  <property name="hibernate.c3p0.timeout">300</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
  <mapping class="entity.Equipments"/>
  <mapping class="entity.Maintenances"/>
  <mapping class="entity.MaintenanceDetail"/>
  <mapping class="entity.Modifications"/>
  <mapping class="entity.ModificationDetail"/>
  <mapping class="entity.Registrations"/>
  <mapping class="entity.Persons"/>
  <mapping class="entity.Participations"/>
  <mapping class="entity.Certificates"/>
  <mapping class="entity.PersonsLicenses"/>
  <mapping class="entity.Events"/>
  <mapping class="entity.Trainings"/>
  <mapping class="entity.Licenses"/>
  <mapping class="entity.OperationlimitsLicenses"/>
  <mapping class="entity.OperationLimits"/>
  <mapping class="entity.OperationlimitsAerialplans"/>
  <mapping class="entity.AerialPlans"/>
  <mapping class="entity.AerialActivities"/>
  <mapping class="entity.Areas"/>
  <mapping class="entity.Projects"/>
 </session-factory>
</hibernate-configuration>
